/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway&family=Open+Sans');

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Century Gothic', sans-serif;
    scroll-behavior: smooth;
}
/* Reinicio de estilos */
body,
h1,
h2,
h3,
h4,
.menu,
.m-0{
    margin: 0;
}
.menu,
.list-unstyled,
.p-0{
    padding: 0;
}
.menu,
.list-unstyled{
    list-style: none;
}
nav a,
footer a,
.link{
    text-decoration: none;
}
/* Navegacion */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background: linear-gradient(to right, #c36, #448);
}
nav a{
    color: #ccc;
}
.menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
}
.menu.active{
    max-height: 100vh;
    overflow: auto;
}
.menu a:hover,
.menu a.active{
    color: #eee;
    text-shadow: 0 0 .5rem;
}
/* Cabecera */

/* Contenido */

/* Pie de pagina */

    /* Mapa de contacto */

    /* Repositorios */

    /* Colaboradores */

    /* Redes sociales */

    /* Contacto */

    /* Derechos de autor */


/* Pantallas medianas - Tablets */


/* Pantallas grandes - Escritorio */

