/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway&family=Open+Sans');

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Century Gothic', sans-serif;
    scroll-behavior: smooth;
}
/* Reinicio de estilos */
body,
h1,
h2,
h3,
h4,
.menu,
.m-0{
    margin: 0;
}
.menu,
.list-unstyled,
.p-0{
    padding: 0;
}
.menu,
.list-unstyled{
    list-style: none;
}
nav a,
footer a,
.link{
    text-decoration: none;
}
/* Iconos */
.logo::before{
    content: 'GIT';
    font-size: 1.5rem;
    font-weight: bold;
    color: #eee;
}
.btn{
    border-radius: .25rem;
    border: 1px solid #eee;
    padding: .25rem .5rem;
    color: #eee;
    background-color: transparent;
}
.btn:hover{
    color: #448;
    background-color: #eee;
}
.icon-open::before{
    content: '\2630';
}
.icon-close::before{
    content: '\26CC'
}
/* Navegacion */
nav{
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background: linear-gradient(to right, #c36, #448);
}
nav a{
    color: #ccc;
}
.menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
}
.menu.active{
    max-height: 100vh;
    overflow: auto;
}
.menu a:hover,
.menu a.active{
    color: #eee;
    text-shadow: 0 0 .5rem;
}
/* Cabecera */

/* Contenido */

/* Pie de pagina */

    /* Mapa de contacto */

    /* Repositorios */

    /* Colaboradores */

    /* Redes sociales */

    /* Contacto */

    /* Derechos de autor */


/* Pantallas medianas - Tablets */
@media screen and (min-width: 768px){
    #nav .btn{
        display: none;
    }
    .menu{
        width: auto;
        max-height: 100vh;
        display: flex;
        gap: 1rem;
    }
}

/* Pantallas grandes - Escritorio */
@media screen and (min-width: 1200px){
    nav{
        padding: .5rem max(1rem, calc(50vw - 660px));
    }
}
